---
import BaseLayout from '../layouts/BaseLayout.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../consts';
import { getCollection } from 'astro:content';

let blogs = await getCollection('blogs');
blogs = blogs.sort(
  (a, b) =>
    new Date(b.data.publishedAt).getTime() -
    new Date(a.data.publishedAt).getTime()
);

const PAGE_SIZE = 5;
const firstPageBlogs = blogs.slice(0, PAGE_SIZE);
const totalPages = Math.ceil(blogs.length / PAGE_SIZE);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <Header />

  <main>
    <ul>
      {
        firstPageBlogs.map((blog) => (
          <li>
            <a href={`/${blog.id}/`}>{blog.data.title}</a>
          </li>
        ))
      }
    </ul>

    <nav class="pagination">
      {totalPages > 1 && <a href="/page/2">次へ »</a>}
    </nav>
  </main>

  <Footer />
</BaseLayout>
