---
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav>
    <h2><a href="/">ゆるーりサモンズボード攻略ブログ</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">記事一覧</HeaderLink>
      <HeaderLink href="/taxonomy">タグ&カテゴリ</HeaderLink>
      <HeaderLink href="/info">運営情報</HeaderLink>
    </div>
  </nav>
</header>
