---
import { SITE_TITLE } from '../consts';
import HeaderLink from './HeaderLink.astro';
---

<header>
  <nav>
    <h2><a href="/">{SITE_TITLE}</a></h2>
    <div class="internal-links">
      <HeaderLink href="/">記事一覧</HeaderLink>
      <HeaderLink href="/taxonomy">タグ&カテゴリ</HeaderLink>
    </div>
  </nav>
</header>
