---
import BaseHead from '../components/BaseHead.astro';
---

<html lang="en">
  <head>
    <BaseHead title={Astro.props.title} description={Astro.props.description} />
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
      <iframe
        title="Google Tag Manager"
        src="https://www.googletagmanager.com/ns.html?id=GTM-KHQMJQW6"
        height="0"
        width="0"
        style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- End Google Tag Manager (noscript) -->

    <slot />
  </body>
</html>
